
#main{
	font-family: ariel, Helvetical, sans-serif;
	border: 8px solid white;
	border-radius: 15px;
	background-color: #F0F0F0;
}
img {
	max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
	text-align: center;
}
ul{
	text-align: left;
	line-height: 30px;
	margin: 0 auto;
	margin-width: 550px;
	display: block;
}
p{
	text-align: center;
}
#img-div{
	margin:13px;
	border: 5px solid white;
	background: white;
	}
li{
	display: list-item;
	margin: 10px;
}
#blockquote, h3{
	text-align: center;
}
blockquote{
	font-style: italic;
	padding-top: 10px;
	padding-bottom: 5px;
}
h3{
	margin-top:50px;
	text-align:left;
}
